#                                                # ANN

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [111]:
df = pd.read_csv("Customer_info.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

# Feature Selection

In [113]:
# we are excluding RowNumber , CustomerId, and Surname as they are not needed.
x = df.iloc[:, 3:-1]
y = df.iloc[:,13]

In [114]:
x.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71
6,822,France,Male,50,7,0.00,2,1,1,10062.80
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88
8,501,France,Male,44,4,142051.07,2,0,1,74940.50
9,684,France,Male,27,2,134603.88,1,1,1,71725.73

In [115]:
print(x['Geography'].unique())

['France' 'Spain' 'Germany']

# Creating dummies variable for Geography and Gender

In [116]:
Geog = pd.get_dummies(x['Geography'],drop_first=True)
Gen = pd.get_dummies(x['Gender'],drop_first=True)

In [117]:
# adding the dummies column to x
x = pd.concat([x,Geog,Gen], axis=1)

In [118]:
#dropping the catagorical features
x = x.drop(["Geography","Gender"], axis=1)

In [119]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [120]:
#splitting the data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [121]:
# feature scaling to bring features into same scale range.
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

# Implementing ANN(Artificial Nural Network)

In [122]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential  #
from keras.layers import Dense       # for creating hidden leayers
from keras.layers import LeakyReLU,PReLU,ELU #
from keras.layers import Dropout # using for regularization

In [123]:
model = Sequential()

#first hidden layer
model.add(Dense(10, activation='relu', input_dim=11)) # input dim = number of features 

#second hidden layer
model.add(Dense(12, activation='relu'))


#second hidden layer
model.add(Dense(15, activation='relu'))

#Output layer
model.add(Dense(1,activation='sigmoid'))

# Havnt used drop out becuse we dont have deep dense layers. In our case it might reduce the accuracy

In [124]:
model.summary()

Model: "sequential_16"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_33 (Dense)             (None, 10)                120
_________________________________________________________________
dense_34 (Dense)             (None, 12)                132
_________________________________________________________________
dense_35 (Dense)             (None, 15)                195
_________________________________________________________________
dense_36 (Dense)             (None, 1)                 16
=================================================================
Total params: 463
Trainable params: 463
Non-trainable params: 0
_________________________________________________________________

# Compiling the ANN ( using optimizer and Loss function)

In [125]:
model.compile(optimizer="Adam", loss="binary_crossentropy", metrics=['accuracy'])

In [126]:
# Training the data
model_train = model.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=100)

Epoch 1/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4886 - accuracy: 0.7960 - val_loss: 0.4539 - val_accuracy: 0.7982
Epoch 2/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4375 - accuracy: 0.8044 - val_loss: 0.4438 - val_accuracy: 0.7989
Epoch 3/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4223 - accuracy: 0.8179 - val_loss: 0.4366 - val_accuracy: 0.8039
Epoch 4/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4141 - accuracy: 0.8203 - val_loss: 0.4284 - val_accuracy: 0.8114
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4033 - accuracy: 0.8280 - val_loss: 0.4195 - val_accuracy: 0.8156
Epoch 6/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3868 - accuracy: 0.8403 - val_loss: 0.4000 - val_accuracy: 0.8285
Epoch 7/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3663 - accuracy: 0.8515 - val_loss: 0.3835 - val_accuracy: 0.8387
Epoch 8/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3525 - accuracy: 0.8545 - val_loss: 0.3718 - val_accuracy: 0.8436
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3466 - accuracy: 0.8572 - val_loss: 0.3659 - val_accuracy: 0.8493
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8584 - val_loss: 0.3620 - val_accuracy: 0.8478
Epoch 11/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3376 - accuracy: 0.8595 - val_loss: 0.3609 - val_accuracy: 0.8501
Epoch 12/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3348 - accuracy: 0.8628 - val_loss: 0.3609 - val_accuracy: 0.8538
Epoch 13/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3327 - accuracy: 0.8632 - val_loss: 0.3590 - val_accuracy: 0.8531
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3313 - accuracy: 0.8634 - val_loss: 0.3602 - val_accuracy: 0.8489
Epoch 15/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3300 - accuracy: 0.8627 - val_loss: 0.3617 - val_accuracy: 0.8565
Epoch 16/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3285 - accuracy: 0.8664 - val_loss: 0.3607 - val_accuracy: 0.8576
Epoch 17/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3273 - accuracy: 0.8666 - val_loss: 0.3599 - val_accuracy: 0.8557
Epoch 18/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3273 - accuracy: 0.8655 - val_loss: 0.3606 - val_accuracy: 0.8576
Epoch 19/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3260 - accuracy: 0.8645 - val_loss: 0.3606 - val_accuracy: 0.8573
Epoch 20/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3261 - accuracy: 0.8634 - val_loss: 0.3599 - val_accuracy: 0.8591
Epoch 21/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3243 - accuracy: 0.8649 - val_loss: 0.3605 - val_accuracy: 0.8576
Epoch 22/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3238 - accuracy: 0.8684 - val_loss: 0.3580 - val_accuracy: 0.8595
Epoch 23/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3232 - accuracy: 0.8675 - val_loss: 0.3625 - val_accuracy: 0.8576
Epoch 24/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3230 - accuracy: 0.8673 - val_loss: 0.3604 - val_accuracy: 0.8580
Epoch 25/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3228 - accuracy: 0.8671 - val_loss: 0.3598 - val_accuracy: 0.8550
Epoch 26/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3211 - accuracy: 0.8668 - val_loss: 0.3612 - val_accuracy: 0.8535
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3214 - accuracy: 0.8673 - val_loss: 0.3608 - val_accuracy: 0.8554
Epoch 28/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3208 - accuracy: 0.8671 - val_loss: 0.3614 - val_accuracy: 0.8561
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3212 - accuracy: 0.8679 - val_loss: 0.3616 - val_accuracy: 0.8542
Epoch 30/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3201 - accuracy: 0.8686 - val_loss: 0.3598 - val_accuracy: 0.8569
Epoch 31/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3193 - accuracy: 0.8690 - val_loss: 0.3604 - val_accuracy: 0.8538
Epoch 32/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3193 - accuracy: 0.8696 - val_loss: 0.3603 - val_accuracy: 0.8519
Epoch 33/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3190 - accuracy: 0.8688 - val_loss: 0.3630 - val_accuracy: 0.8527
Epoch 34/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3182 - accuracy: 0.8701 - val_loss: 0.3589 - val_accuracy: 0.8569
Epoch 35/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3181 - accuracy: 0.8688 - val_loss: 0.3602 - val_accuracy: 0.8546
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3186 - accuracy: 0.8684 - val_loss: 0.3629 - val_accuracy: 0.8576
Epoch 37/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3171 - accuracy: 0.8694 - val_loss: 0.3579 - val_accuracy: 0.8569
Epoch 38/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3165 - accuracy: 0.8698 - val_loss: 0.3598 - val_accuracy: 0.8554
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3174 - accuracy: 0.8684 - val_loss: 0.3613 - val_accuracy: 0.8531
Epoch 40/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3157 - accuracy: 0.8696 - val_loss: 0.3590 - val_accuracy: 0.8535
Epoch 41/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3161 - accuracy: 0.8692 - val_loss: 0.3607 - val_accuracy: 0.8542
Epoch 42/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3170 - accuracy: 0.8671 - val_loss: 0.3592 - val_accuracy: 0.8546
Epoch 43/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3160 - accuracy: 0.8699 - val_loss: 0.3619 - val_accuracy: 0.8557
Epoch 44/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3156 - accuracy: 0.8698 - val_loss: 0.3597 - val_accuracy: 0.8516
Epoch 45/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3151 - accuracy: 0.8720 - val_loss: 0.3587 - val_accuracy: 0.8588
Epoch 46/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3155 - accuracy: 0.8686 - val_loss: 0.3612 - val_accuracy: 0.8535
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3154 - accuracy: 0.8686 - val_loss: 0.3614 - val_accuracy: 0.8519
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3152 - accuracy: 0.8701 - val_loss: 0.3657 - val_accuracy: 0.8527
Epoch 49/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3143 - accuracy: 0.8679 - val_loss: 0.3599 - val_accuracy: 0.8550
Epoch 50/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3144 - accuracy: 0.8683 - val_loss: 0.3592 - val_accuracy: 0.8538
Epoch 51/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3138 - accuracy: 0.8699 - val_loss: 0.3613 - val_accuracy: 0.8554
Epoch 52/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3144 - accuracy: 0.8699 - val_loss: 0.3637 - val_accuracy: 0.8531
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3142 - accuracy: 0.8705 - val_loss: 0.3598 - val_accuracy: 0.8523
Epoch 54/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3134 - accuracy: 0.8720 - val_loss: 0.3629 - val_accuracy: 0.8519
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3140 - accuracy: 0.8686 - val_loss: 0.3661 - val_accuracy: 0.8512
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3128 - accuracy: 0.8705 - val_loss: 0.3648 - val_accuracy: 0.8531
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3127 - accuracy: 0.8731 - val_loss: 0.3653 - val_accuracy: 0.8516

Epoch 58/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3123 - accuracy: 0.8703 - val_loss: 0.3664 - val_accuracy: 0.8535
Epoch 59/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3113 - accuracy: 0.8727 - val_loss: 0.3614 - val_accuracy: 0.8531
Epoch 60/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3124 - accuracy: 0.8718 - val_loss: 0.3627 - val_accuracy: 0.8508
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3114 - accuracy: 0.8724 - val_loss: 0.3636 - val_accuracy: 0.8493
Epoch 62/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3120 - accuracy: 0.8739 - val_loss: 0.3631 - val_accuracy: 0.8523
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3112 - accuracy: 0.8727 - val_loss: 0.3631 - val_accuracy: 0.8523
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3110 - accuracy: 0.8724 - val_loss: 0.3644 - val_accuracy: 0.8535
Epoch 65/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3107 - accuracy: 0.8712 - val_loss: 0.3650 - val_accuracy: 0.8516
Epoch 66/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3111 - accuracy: 0.8737 - val_loss: 0.3640 - val_accuracy: 0.8538
Epoch 67/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3108 - accuracy: 0.8722 - val_loss: 0.3676 - val_accuracy: 0.8550
Epoch 68/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3104 - accuracy: 0.8724 - val_loss: 0.3667 - val_accuracy: 0.8489
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3108 - accuracy: 0.8711 - val_loss: 0.3660 - val_accuracy: 0.8523
Epoch 70/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3095 - accuracy: 0.8733 - val_loss: 0.3704 - val_accuracy: 0.8516
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3098 - accuracy: 0.8742 - val_loss: 0.3664 - val_accuracy: 0.8546
Epoch 72/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3097 - accuracy: 0.8735 - val_loss: 0.3684 - val_accuracy: 0.8516
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3090 - accuracy: 0.8735 - val_loss: 0.3660 - val_accuracy: 0.8504
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3094 - accuracy: 0.8740 - val_loss: 0.3702 - val_accuracy: 0.8493
Epoch 75/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3091 - accuracy: 0.8724 - val_loss: 0.3681 - val_accuracy: 0.8519
Epoch 76/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3076 - accuracy: 0.8742 - val_loss: 0.3711 - val_accuracy: 0.8504
Epoch 77/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3089 - accuracy: 0.8744 - val_loss: 0.3690 - val_accuracy: 0.8550
Epoch 78/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3084 - accuracy: 0.8740 - val_loss: 0.3707 - val_accuracy: 0.8523
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3083 - accuracy: 0.8739 - val_loss: 0.3677 - val_accuracy: 0.8538
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3078 - accuracy: 0.8731 - val_loss: 0.3675 - val_accuracy: 0.8512
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3078 - accuracy: 0.8727 - val_loss: 0.3685 - val_accuracy: 0.8523
Epoch 82/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3074 - accuracy: 0.8716 - val_loss: 0.3683 - val_accuracy: 0.8519
Epoch 83/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3073 - accuracy: 0.8740 - val_loss: 0.3664 - val_accuracy: 0.8546
Epoch 84/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3056 - accuracy: 0.8737 - val_loss: 0.3707 - val_accuracy: 0.8501
Epoch 85/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3074 - accuracy: 0.8735 - val_loss: 0.3730 - val_accuracy: 0.8531
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3047 - accuracy: 0.8759 - val_loss: 0.3701 - val_accuracy: 0.8542
Epoch 87/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3059 - accuracy: 0.8727 - val_loss: 0.3707 - val_accuracy: 0.8516
Epoch 88/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3063 - accuracy: 0.8759 - val_loss: 0.3747 - val_accuracy: 0.8512
Epoch 89/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3053 - accuracy: 0.8752 - val_loss: 0.3730 - val_accuracy: 0.8516
Epoch 90/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3048 - accuracy: 0.8726 - val_loss: 0.3702 - val_accuracy: 0.8504
Epoch 91/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3055 - accuracy: 0.8731 - val_loss: 0.3711 - val_accuracy: 0.8523
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3044 - accuracy: 0.8761 - val_loss: 0.3804 - val_accuracy: 0.8489
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3049 - accuracy: 0.8742 - val_loss: 0.3747 - val_accuracy: 0.8519
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3043 - accuracy: 0.8761 - val_loss: 0.3730 - val_accuracy: 0.8501
Epoch 95/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3043 - accuracy: 0.8727 - val_loss: 0.3725 - val_accuracy: 0.8557
Epoch 96/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3045 - accuracy: 0.8750 - val_loss: 0.3703 - val_accuracy: 0.8565
Epoch 97/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3040 - accuracy: 0.8752 - val_loss: 0.3732 - val_accuracy: 0.8523
Epoch 98/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3038 - accuracy: 0.8757 - val_loss: 0.3720 - val_accuracy: 0.8546
Epoch 99/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3035 - accuracy: 0.8729 - val_loss: 0.3771 - val_accuracy: 0.8531
Epoch 100/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3037 - accuracy: 0.8742 - val_loss: 0.3708 - val_accuracy: 0.8523

In [127]:
print(model_train.history.keys())

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

# Predicting test Result

In [128]:
y_pred = model.predict(X_test)

# converting the 0 and 1 into true or fale 
y_pred = (y_pred > 0.5)

In [129]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [130]:
cm

array([[1514,   81],
       [ 214,  191]], dtype=int64)

In [131]:
# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
score

0.8525